// General
@mixin transition($time: 0.2, $type: all) {
	transition: $type #{$time}s;
}
@mixin background($size: cover, $position: center) {
	background-repeat: no-repeat;
	background-position: $position;
	background-size: $size;
}


// Fonts
@mixin font-h1 {
	font: {
		weight: 700;
		size: 40px;
	}
	line-height: 47px;
	letter-spacing: -0.1px;
}
@mixin font-h2 {
	font: {
		weight: 500;
		size: 24px;
	}
	line-height: 35px;
	letter-spacing: -0.25px;
}
@mixin font-h3 {
	font: {
		weight: 500;
		size: 18px;
	}
	line-height: 25px;
	letter-spacing: -0.25px;
}
@mixin font-p {
	font: {
		weight: 300;
		size: 18px;
	}
	line-height: 25px;
	letter-spacing: -0.25px;
}
@mixin font-sign {
	font: {
		weight: 300;
		size: 16px;
		style: italic;
	}
	line-height: 25px;
	letter-spacing: -0.25px;
}