// Шрифт
$f: CeraPro,sans-serif;

// Цветовая схема
$general-color: #28d223;
$general-color-dark: #1b8e17;
$general-color-hover: #2ce027;
$text-color: #001722;
$other-text-color: #192e38;
$sign-color: #66747a;
$border-color: #ccd1d3;
$bgr-color: #f6f8f9;

// Время
$time-xs: 150ms;
$time-sm: 200ms;
$time-md: 400ms;
$time-lg: 600ms;
$time-xl: 800ms;

// Отступы
$indent-lg: 20px;
$indent-md: $indent-lg / 2;
$indent-sm: $indent-md / 2;
$indent-list: 20px;
