/* CeraPRO | Light | 300
---------------------------------------*/
@font-face {
    font-family: CeraPRO;
    src:
        url('../fonts/CeraPRO-Light/CeraPRO-Light.eot?') format('eot'),
        url("../fonts/CeraPRO-Light/CeraPRO-Light.eot?#iefix") format("embedded-opentype"),
        url('../fonts/CeraPRO-Light/CeraPRO-Light.otf') format('opentype'),
        url('../fonts/CeraPRO-Light/CeraPRO-Light.woff') format('woff'),
        url('../fonts/CeraPRO-Light/CeraPRO-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* CeraPRO | LightItalic | 300
---------------------------------------*/
@font-face {
    font-family: CeraPRO;
    src:
        url('../fonts/CeraPRO-LightItalic/CeraPRO-LightItalic.eot?') format('eot'),
        url("../fonts/CeraPRO-LightItalic/CeraPRO-LightItalic.eot?#iefix") format("embedded-opentype"),
        url('../fonts/CeraPRO-LightItalic/CeraPRO-LightItalic.otf') format('opentype'),
        url('../fonts/CeraPRO-LightItalic/CeraPRO-LightItalic.woff') format('woff'),
        url('../fonts/CeraPRO-LightItalic/CeraPRO-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* CeraPRO | Regular | 400
---------------------------------------*/
@font-face {
    font-family: CeraPRO;
    src:
        url('../fonts/CeraPRO-Regular/CeraPRO-Regular.eot?') format('eot'),
        url("../fonts/CeraPRO-Regular/CeraPRO-Regular.eot?#iefix") format("embedded-opentype"),
        url('../fonts/CeraPRO-Regular/CeraPRO-Regular.otf') format('opentype'),
        url('../fonts/CeraPRO-Regular/CeraPRO-Regular.woff') format('woff'),
        url('../fonts/CeraPRO-Regular/CeraPRO-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* CeraPRO | Medium | 500
---------------------------------------*/
@font-face {
    font-family: CeraPRO;
    src:
        url('../fonts/CeraPRO-Medium/CeraPRO-Medium.eot?') format('eot'),
        url("../fonts/CeraPRO-Medium/CeraPRO-Medium.eot?#iefix") format("embedded-opentype"),
        url('../fonts/CeraPRO-Medium/CeraPRO-Medium.otf') format('opentype'),
        url('../fonts/CeraPRO-Medium/CeraPRO-Medium.woff') format('woff'),
        url('../fonts/CeraPRO-Medium/CeraPRO-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* CeraPRO | Bold | 700
---------------------------------------*/
@font-face {
    font-family: CeraPRO;
    src:
        url('../fonts/CeraPRO-Bold/CeraPRO-Bold.eot?') format('eot'),
        url("../fonts/CeraPRO-Bold/CeraPRO-Bold.eot?#iefix") format("embedded-opentype"),
        url('../fonts/CeraPRO-Bold/CeraPRO-Bold.otf') format('opentype'),
        url('../fonts/CeraPRO-Bold/CeraPRO-Bold.woff') format('woff'),
        url('../fonts/CeraPRO-Bold/CeraPRO-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
