.preloader {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.preloader .dragon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 88px;
    height: 92px;
    animation: bounce-element infinite 4s linear;
    margin: auto;
}

@keyframes bounce-element {
    from { transform: scale(1); opacity: 0.8; }
    50% { transform: scale(0.8); opacity: 1 }
    to { transform: scale(1); opacity: 0.8; }
}
