.the_button {
    display: inline-block;
    font: {
        weight: 300;
        size: 16px;
    }
    line-height: 34px;
    color: #fff;
    // border-bottom: 2px solid $general-color-dark;
    background-color: $general-color;
    padding: 0 15px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    &:hover {
        color: #fff;
        background-color: $general-color-hover;
    }
}