/* Footer
---------------------------------------*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    &__head {
        position: relative;
        padding-top: 78.5px;
        .dragon {
            position: absolute;
            right: 0;
            bottom: calc(100% - 3px);
            width: 101px;
            height: 59px;
            &-home {
                position: absolute;
                right: 0;
                bottom: calc(100% - 10px);
                width: 79px;
                height: 83px;
                transform: scaleX(-1);
            }
        }
    }
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 88px;
        > svg {
            width: 152px;
            height: 46px;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        > li {
            display: inline-block;
            > a {
                display: block;
                font: {
                    weight: 500;
                    size: 24px;
                }
                line-height: 24px;
                color: $text-color;
                letter-spacing: -0.1px;
                padding: 32px 22px;
                transition: color $time-xs ease;
            }
            &:hover,
            &.current-menu-item {
                > a {
                    color: $general-color;
                }
            }
        }
    }
    &__social-networks {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 88px;
        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 11px;
            transition: filter $time-xs ease;
            img {
                max-width: 100%;
                max-height: 100%;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                filter: brightness(120%);
            }
            &:active {
                filter: brightness(80%);
            }
        }
    }
    &__copyright {
        padding-bottom: 78.5px;
        p {
            font: {
                weight: 300;
                size: 14px;
            }
            line-height: 24px;
            color: $other-text-color;
            padding: 20px 0;
        }
    }
}

@media(max-width: 1023px) {
    .footer {
        &__logo {
            height: 52px;
        }
    }
}