/* General styles
---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: $f;
}
html {
    min-height: 100%;
    height: 100%;
    font-size: 100%;
}
ol, ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4, p {
    line-height: normal;
    margin: 0;
    padding: 0;
}
a:focus, button:focus, input:focus, textarea:focus {
    outline: 0;
    text-decoration: none;
}
a {
    color: $text-color;
    text-decoration: none;
    &:hover {
        color: $general-color;
        text-decoration: none;
    }
}
body {
    position: relative;
    height: 100%;
    line-height: normal;
    color: $text-color;
    background-color: $bgr-color;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 86px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
footer {
    flex: 0 0 auto;
}
.ajax-loader {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
	> svg {
		width: 24px;
		height: 26px;
		fill: $other-text-color;
	}
	&.loading > svg {
		animation: rotate-360 infinite 0.8s linear;
	}
}
