/* Header
---------------------------------------*/
.header {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $border-color;
    background-color: rgba(#fff, 0.95);
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        > svg {
            height: 85px;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        > li {
            display: inline-block;
            > a {
                display: block;
                font: {
                    weight: 500;
                    size: 16px;
                }
                line-height: 26px;
                color: $text-color;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                padding: 29.5px 22px;
                opacity: 0.9;
                transition: color $time-xs ease;
            }
            &:last-child > a {
                padding-right: 0;
            }
            &:hover,
            &.current-menu-item {
                > a {
                    color: $general-color;
                }
            }
        }
    }
}

@media(max-width: 1023px) {
    .header {
        &__logo {
            height: 25px;
        }
    }
}