.articles > .container {
    padding: 0;
}

.masonry-item {
    display: inline-block;
    padding: 0 15px 0 14px;
    width: 33.33%;
    box-sizing: border-box;
    &__column {
        padding: 0 15px 0 14px;
        width: 33.33%;
    }
    &__width-2 {
        $this: &;
        width: 66.66%;
    }
    &__first {
        float: left;
    }
}

.articles {
    padding: 76px 0;
    &__top {
        position: relative;
        z-index: 30;
    }
    &__last-artcle {
        $this: &;
        display: block;
        position: relative;
        left: 0;
        height: 536px;
        border-top: 4px solid $general-color;
        background-color: #fff;
        @include background;
        &__body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 428px;
            max-height: 472px;
            background-color: #fff;
            margin-top: 30px;
            overflow: hidden;
        }
        &__content {
            padding: {
                top: 43px;
                left: 75px;
                right: 40px;
                bottom: 20px;
            }
            overflow: hidden;
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 50;
            }
            .title {
                font: {
                    weight: 700;
                    size: 39px;
                }
                line-height: 47px;
                color: $text-color;
                letter-spacing: -0.1px;
                transition: color $time-xs ease;
            }
            .date, .desc {
                font: {
                    weight: 300;
                    size: 18px;
                }
                line-height: 25px;
            }
            .date {
                color: $sign-color;
                padding: 5px 0 10px
            }
            .desc {
                color: $text-color;
            }
            &:hover {
                .title {
                    color: $general-color;
                }
            }
        }
        &__post-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 44px;
            border-top: 1px solid $border-color;
            padding: {
                left: 75px;
                right: 40px;
            }
            z-index: 60;
            .cat, .shares {
                font: {
                    weight: 300;
                    size: 16px;
                }
                line-height: 25px;
                color: $sign-color;
            }
            .cat {
                position: relative;
                transition: color $time-xs ease;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 1px;
                    width: 100%;
                    height: 1px;
                    background-color: rgba($general-color, 0.9);
                    opacity: 0;
                    transition: opacity $time-xs ease;
                }
                &:hover {
                    color: $general-color;
                    &::after {
                        opacity: 1;
                    }
                }
            }
            .shariff {
                &-total_count {
                    font: {
                        weight: 300;
                        size: 16px;
                    }
                    line-height: 25px;
                    color: $sign-color;
                    p {
                        display: inline-block;
                        &.text {
                            margin-left: 5px;
                        }
                    }
                }
                &-icon, &-text, &-count {
                    display: none !important;
                }
                ul {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    opacity: 0;
                    > li {
                        width: 100% !important;
                        border-radius: 0 !important;
                        background-color: rgba(0,0,0,0) !important;
                        margin: 0 !important;
                        border-top: 2px solid $bgr-color;

                        > a {
                            background-color: rgba(0,0,0,0) !important;
                            background-repeat: no-repeat;
                            background-position: center;
                            transition: background $time-xs ease;
                        }
                        &.facebook > a {
                            background-size: 8px 18px;
                            background-image: url('../images/fb.svg') !important;
                            &:hover {
                                background-image: url('../images/fb-hover.svg') !important;
                            }
                        }
                        &.vk > a {
                            background-size: 20px 11px;
                            background-image: url('../images/vk.svg') !important;
                            &:hover {
                                background-image: url('../images/vk-hover.svg') !important;
                            }
                        }
                        &.twitter > a {
                            background-size: 18px 14px;
                            background-image: url('../images/twitter.svg') !important;
                            &:hover {
                                background-image: url('../images/twitter-hover.svg') !important;
                            }
                        }
                        &.mailto > a {
                            background-size: 19px 13px;
                            background-image: url('../images/email.svg') !important;
                            &:hover {
                                background-image: url('../images/email-hover.svg') !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &__all {
        position: relative;
    }
    &__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -15px;
        .column {
            padding: 0 15px;
        }
    }
}

.article {
    $this: &;
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 30px auto;
    transform: translateY(0);
    transition: transform $time-xl ease;
    .thumbnail {
        position: relative;
        height: 292px;
        @include background;
        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba($general-color, 0.7);
        //     opacity: 0;
        //     transition: opacity $time-xs ease;
        // }
    }
    &__content {
        display: block;
        &:hover {
            .title {
                color: $general-color;
            }
        }
    }
    &__info {
        height: 248px;
        padding: {
            top: 16px;
            left: 28px;
            right: 22px;
            bottom: 16px;
        }
        overflow: hidden;
        .title {
            font: {
                weight: 500;
                size: 19px;
            }
            line-height: 23px;
            color: $text-color;
            letter-spacing: -0.1px;
            transition: color $time-xs ease;
        }
        .date, .desc {
            font: {
                weight: 300;
                size: 16px;
            }
            line-height: 25px;
        }
        .date {
            color: $sign-color;
            padding: 10px 0;
        }
        .desc {
            color: $text-color;
        }
    }
    &__post-info {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 44px;
        border-top: 1px solid $border-color;
        padding: {
            left: 28px;
            right: 22px;
        }
        .cat, .shares {
            font: {
                weight: 300;
                size: 16px;
            }
            line-height: 25px;
            color: $sign-color;
        }
        .cat {
            position: relative;
            transition: color $time-xs ease;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 1px;
                width: 100%;
                height: 1px;
                background-color: rgba($general-color, 0.9);
                opacity: 0;
                transition: opacity $time-xs ease;
            }
            &:hover {
                color: $general-color;
                &::after {
                    opacity: 1;
                }
            }
        }
        .shariff {
            &-total_count {
                font: {
                    weight: 300;
                    size: 16px;
                }
                line-height: 25px;
                color: $sign-color;
                p {
                    display: inline-block;
                    &.text {
                        margin-left: 5px;
                    }
                }
            }
            &-icon, &-text, &-count {
                display: none !important;
            }
            ul {
                position: absolute;
                display: flex;
                flex-direction: column;
                opacity: 0;
                > li {
                    width: 100% !important;
                    border-radius: 0 !important;
                    background-color: rgba(0,0,0,0) !important;
                    margin: 0 !important;
                    border-top: 2px solid $bgr-color;

                    > a {
                        background-color: rgba(0,0,0,0) !important;
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: background $time-xs ease;
                    }
                    &.facebook > a {
                        background-size: 8px 18px;
                        background-image: url('../images/fb.svg') !important;
                        &:hover {
                            background-image: url('../images/fb-hover.svg') !important;
                        }
                    }
                    &.vk > a {
                        background-size: 20px 11px;
                        background-image: url('../images/vk.svg') !important;
                        &:hover {
                            background-image: url('../images/vk-hover.svg') !important;
                        }
                    }
                    &.twitter > a {
                        background-size: 18px 14px;
                        background-image: url('../images/twitter.svg') !important;
                        &:hover {
                            background-image: url('../images/twitter-hover.svg') !important;
                        }
                    }
                    &.mailto > a {
                        background-size: 19px 13px;
                        background-image: url('../images/email.svg') !important;
                        &:hover {
                            background-image: url('../images/email-hover.svg') !important;
                        }
                    }
                }
            }
        }
    }
    &.none-thumbnail::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $border-color;
    }
    &.hidden {
        display: none;
        transform: translateY(40px);
    }
}

.company-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 240px;
    border-top: 4px solid $general-color;
    background-color: #fff;
    margin: 0 auto;
    padding: 25px 29px;
    .title {
        font: {
            weight: 500;
            size: 23px;
        }
        line-height: 27px;
        color: $text-color;
        text-align: center;
        letter-spacing: -0.1px;
    }
    &__indicators {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .indicator {
            .number, .sign {
                text-align: center;
            }
            .number {
                font: {
                    weight: 500;
                    size: 47px;
                }
                color: $general-color;
            }
            .sign {
                font: {
                    weight: 300;
                    size: 16px;
                }
                color: $other-text-color;
                letter-spacing: 0.25px;
            }
        }
    }
    .the_button {
        margin-top: 18px;
        font-size: 18px;
        line-height: 35px;
    }
}