@keyframes background-bounce {
	from { transform: scale(1); }
	50% { transform: scale(1.1); }
	to { transform: scale(1); }
}

@keyframes rotate-360 {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}