// Отступы
$indent-lg: $indent-lg / 2;
$indent-md: $indent-md / 2;
$indent-sm: $indent-sm / 2;
$indent-list: 15px;


// General fonts
@mixin font-h1 {
	font-size: 30px;
	line-height: 34px;
}

@mixin font-h2 {
	font-size: 22px;
	line-height: 30px;
}

@mixin font-h3 {
	font-size: 16px;
	line-height: 24px;
}

@mixin font-p {
	font-size: 16px;
	line-height: 24px;
}

@mixin font-sign {
	font-size: 11px;
	line-height: 22px;
}