@media (max-width: 1644px) {
    .post .subscribe {
        display: none;
    }
}

/* Large Devices, Wide Screens */
@media (max-width: 1279px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

/* Medium Devices, Desktops */
@media (max-width: 1023px) {
    body {
        padding-top: 51px;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 51px;
        &__logo > svg {
            max-width: 142px;
            max-height: 25px;
        }
    }

    /* Footer
    ---------------------------------------*/
    .footer {
        margin-top: 50px;
        &__head {
            padding-top: 48px;
        }
        &__logo {
            align-items: center;
            padding: 10px 0;
        }
        &__social-networks {
            justify-content: center;
            padding: 10px 0;
            max-height: 36px;
            height: 100%;
        }
        &__copyright {
            padding-bottom: 48px;
            p {
                text-align: center;
                padding: 10px 0;
            }
        }
    }

    .masonry-item {
        width: 50%;
        &__column {
            width: 50%;
        }
        &__width-2 {
            padding: 0 15px 0 14px;
            width: 50%;
        }
    }

    .articles {
        padding: 30px 0;
        &__last-artcle {
            $this: &;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-bottom: 292px solid rgba(0,0,0,0);
            &__body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: none;
                max-height: none;
                height: 292px;
                margin-bottom: -292px;
            }
            &__content {
                padding: {
                    top: 16px;
                    left: 28px;
                    right: 22px;
                    bottom: 16px;
                }
                .title {
                    font: {
                        weight: 500;
                        size: 19px;
                    }
                    line-height: 23px;
                    color: $text-color;
                    letter-spacing: -0.1px;
                    transition: color $time-xs ease;
                }
                .date, .desc {
                    font: {
                        weight: 300;
                        size: 16px;
                    }
                    line-height: 25px;
                }
                .date {
                    color: $sign-color;
                    padding: 10px 0;
                }
                .desc {
                    color: $text-color;
                }
            }
            &__post-info {
                padding: {
                    left: 28px;
                    right: 22px;
                }
                .cat, .shares {
                    font: {
                        weight: 300;
                        size: 16px;
                    }
                    line-height: 25px;
                    color: $sign-color;
                }
                .cat {
                    position: relative;
                    transition: color $time-xs ease;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 1px;
                        width: 100%;
                        height: 1px;
                        background-color: rgba($general-color, 0.9);
                        opacity: 0;
                        transition: opacity $time-xs ease;
                    }
                }
            }
        }
    }

    .company-info {
        padding: 23px 25px;
        .title {
            font-size: 20px;
            line-height: 26px;
        }
        &__indicators {
            .indicator {
                .number {
                    font-size: 42px;
                }
            }
        }
        .the_button {
            margin-top: 18px;
        }
    }
}

@import 'media-xs';
/* Small Devices, Tablets */
@media (max-width: 767px) {
    .the_button {
        font-size: 14px;
        line-height: 30px;
        padding: 0 12px;
    }

    /* Footer
    ---------------------------------------*/
    .footer {
        &__head {
            padding-top: 24px;
        }
        &__logo {
            padding: 6px 0;
            > svg {
                max-width: 106px;
                max-height: 32px;
            }
        }
        &__copyright {
            padding-bottom: 24px;
            p {
                padding: 6px 0;
            }
        }
    }

    @mixin artivcle-body {
        &__info {
            height: 174px;
            padding: {
                top: 9px;
                left: 16px;
                right: 12px;
                bottom: 9px;
            }
            .title {
                font-size: 16px;
                line-height: 20px;
            }
            .date, .desc {
                font-size: 14px;
                line-height: 22px;
            }
            .date {
                padding: 5px 0;
            }
        }
        &__post-info {
            height: 36px;
            padding: {
                left: 16px;
                right: 12px;
            }
            .cat, .shares {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    .articles {
        padding: 20px 0;
        &__last-artcle {
            height: 420px;
            border-bottom: 210px solid rgba(0,0,0,0);
            margin-bottom: 15px;
            &__body {
                height: 210px;
                margin-bottom: -210px;
            }
            @include artivcle-body;
        }
    }

    .article {
        max-width: 397px;
        margin: 15px auto;
        .thumbnail {
            height: 210px;
        }
        @include artivcle-body;
    }

    .company-info {
        height: 180px;
        margin-top: 15px;
        padding: 18px 20px;
        .title {
            font-size: 16px;
            line-height: 22px;
        }
        &__indicators {
            .indicator {
                .number {
                    font-size: 32px;
                }
                .sign {
                    font-size: 14px;
                }
            }
        }
        .the_button {
            margin-top: 14px;
        }
    }

    .subscribe {
        justify-content: center;
        height: 180px;
        padding: 18px 20px;
        .title, .desc {
            font-size: 18px;
            line-height: 24px;
        }

        &__form {
            margin-top: 10px;
            form {
                height: 30px;
                input:not([type="submit"]) {
                    width: calc(100% - 105px);
                    font-size: 14px;
                    padding: 0 4px;
                }
                [type="submit"] {
                    width: 105px;
                    font-size: 14px;
                }
            }
            .wpcf7-response-output {
                font: {
                    weight: 300;
                    size: 14px;
                }
            }
        }
    }
}

/* Extra Small Devices, Phones */
@media (max-width: 575px) {
    .masonry-item {
        width: 100%;
        &__column {
            width: 100%;
        }
        &__width-2 {
            padding: 0 15px 0 14px;
            width: 100%;
        }

        & > * {
            max-width: 397px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}