/* Главное меню
---------------------------------------*/
.menu {
    $this: &;
    display: none;
    position: fixed;
    z-index: 65;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 70;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: rgba(0,0,0,0);
        cursor: pointer;
        margin: auto 0;
        user-select: none;
        > div {
            position: absolute;
            display: block;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 20px;
            height: 3px;
            background-color: $general-color;
            margin: auto;
            transition: transform $time-md ease;
            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 20px;
                height: 3px;
                background-color: $general-color;
                transition: transform $time-md ease, opacity $time-md ease;
            }
            &:before {
                top: -7px;
            }
            &:after {
                top: 7px;
                opacity: 1;
            }
        }
        &--close {
            > div {
                width: 20px;
                height: 3px;
                background-color: $general-color;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                &:before, &:after {
                    width: 20px;
                    height: 3px;
                    background-color: $general-color;
                }
                &:before {
                    transform: rotate(-90deg) translate(-7px, 0);
                }
                &:after {
                    transform: rotate(-45deg) translate(3.5px, -7px);
                    opacity: 0;
                }
            }
        }
    }
    &__background {
        position: fixed;
        z-index: 60;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background-color: #fff;
        opacity: 0;
        margin: auto;
    }
    &.visibility {
        display: block;
        #{ $this }__button {
            > div {
                background-color: #fff;
                &:before, &:after {
                    background-color: #fff;
                }
            }
        }
        + .wrapper {
            .header__logo {
                > svg {
                    stroke: #fff;
                    fill: #fff;
                }
            }
            .header__menu > li > a {
                color: #fff;
            }
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
    }
    nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 55px 15px 0;
        opacity: 0;
        overflow-y: scroll;
        > ul {
            position: relative;
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: 0;
            }
            > li {
                display: block;
                > a {
                    position: relative;
                    display: block;
                    @include font-h3;
                    color: $text-color;
                    text-align: center;
                    padding: 7px 15px;
                }
            }
        }
    }
}