
.noresize {
    height: auto !important;
}

.post {
    position: relative;
    padding: 70px 0;
    &__info {
        padding-bottom: 30px;
        .category {
            display: inline-block;
            font: {
                weight: 300;
                size: 24px;
            }
            line-height: 25px;
            color: $sign-color;
            text-transform: uppercase;
            letter-spacing: 0.2px;
            border-bottom: 1px solid rgba(0,0,0,0);
            margin-bottom: 5px;
            transition: color $time-xs ease, border-color $time-xs ease;
            &:hover {
                color: $general-color;
                border-color: $general-color;
            }
        }
        .title {
            @include font-h1;
            color: $text-color;
            padding: 20px 0;
        }
        .group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .author {
            font: {
                weight: 400;
                size: 24px;
            }
            line-height: 25px;
            color: $general-color;
            margin-right: 30px;
        }
        .date {
            font: {
                weight: 300;
                size: 24px;
            }
            line-height: 25px;
            color: $sign-color;
        }
    }

    &__similars {
        padding: 50px 0;
        &-title {
            font: {
                weight: 400;
                size: 18px;
            }
            line-height: 25px;
            letter-spacing: 0.2px;
            color: $text-color;
            border-bottom: 2px solid $border-color;
            padding-bottom: $indent-sm;
        }
        .similar {
            display: block;
            padding: 30px 0;
            .category {
                font: {
                    weight: 300;
                    size: 18px;
                }
                line-height: 25px;
                letter-spacing: 0.2px;
                color: $general-color;
                text-transform: uppercase;
                padding-bottom: $indent-md;
            }
            .title {
                font: {
                    weight: 300;
                    size: 18px;
                }
                letter-spacing: -0.1px;
                color: $text-color;
            }
        }
    }

    .shariff {
        display: flex;
        flex-direction: column;
        width: 66px;
        border-top: 4px solid $general-color;
        background-color: #fff;
        margin-top: 239px;
        margin-left: auto;
        transition: top 100ms ease;
        &-total_count {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 57px;
            .count {
                font: {
                    weight: 500;
                    size: 24px;
                }
                line-height: 19px;
                color: $text-color;
            }
            .text {
                font: {
                    weight: 400;
                    size: 16px;
                }
                line-height: 19px;
                color: $text-color;
            }
        }
        &-icon, &-text, &-count {
            display: none !important;
        }
        ul {
            display: flex;
            flex-direction: column;
            > li {
                width: 100% !important;
                border-radius: 0 !important;
                background-color: rgba(0,0,0,0) !important;
                margin: 0 !important;
                border-top: 2px solid $bgr-color;
                > a {
                    background-color: rgba(0,0,0,0) !important;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: background $time-xs ease;
                }
                &.facebook > a {
                    background-size: 8px 18px;
                    background-image: url('../images/fb.svg') !important;
                    &:hover {
                        background-image: url('../images/fb-hover.svg') !important;
                    }
                }
                &.vk > a {
                    background-size: 20px 11px;
                    background-image: url('../images/vk.svg') !important;
                    &:hover {
                        background-image: url('../images/vk-hover.svg') !important;
                    }
                }
                &.twitter > a {
                    background-size: 18px 14px;
                    background-image: url('../images/twitter.svg') !important;
                    &:hover {
                        background-image: url('../images/twitter-hover.svg') !important;
                    }
                }
                &.mailto > a {
                    background-size: 19px 13px;
                    background-image: url('../images/email.svg') !important;
                    &:hover {
                        background-image: url('../images/email-hover.svg') !important;
                    }
                }
            }
        }
    }

    .subscribe {
        position: absolute;
        top: 0;
        left: 100%;
        transition: top 100ms ease;
    }
}

/* Контентная часть текстовой страницы
---------------------------------------*/
.content {
    position: relative;

    // Текст
    &-text {
        h1, h2, h3, p, li {
            color: $text-color;
        }
        ol ol, ol ul, ul ol, ul ul {
            padding-top: 0;
        }

        h1 {
            @include font-h1;
            padding: 0 0 $indent-md;
        }
        h2 {
            @include font-h2;
            padding: $indent-lg 0 $indent-md;
            + p, + ol, + ul {
                padding-top: $indent-sm;
            }
        }
        h3 {
            @include font-h3;
            padding: $indent-sm 0 0;
            + p, + ol, + ul {
                padding-top: $indent-sm;
            }
        }
        p {
            @include font-p;
            padding: $indent-md + $indent-sm 0;
            &.wp-caption-text {
                @include font-sign;
                color: $sign-color;
                padding: 0 0 $indent-lg;
                margin-top: -($indent-md + $indent-sm);
            }
        }
        .wp-caption {
            max-width: 100%;
            margin: 0 auto;
        }
        a {
            color: $general-color;
            @include transition();
            &:hover, &focus {
                color: #999;
            }
        }
        ol, ul {
            padding: $indent-lg 0;
            margin-left: $indent-list * 2;
            > li {
                @include font-p;
                padding-bottom: $indent-sm;
            }
        }
        ol > li {
            list-style-type: decimal;
        }
        ul > li {
            list-style-type: disc;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: $indent-lg auto;
            -o-object-fit: cover;
            object-fit: cover;
        }
        p img {
            margin: $indent-sm 0;
        }
    }

    // Таблица
    &-text {
        table {
            border: 1px solid $border-color;
            margin: $indent-lg 0;
            th, td {
                padding: 10px 18px;
                border-top: 0;
                border-right: 1px solid $border-color;
                border-bottom: 0;
                &:last-child {
                    border-right: 0;
                }
            }
            thead {
                tr {
                    border-bottom: 1px solid $border-color;
                    th {
                        font: {
                            weight: 700;
                            size: 18px;
                        }
                        line-height: 24px;
                        color: #cacacc;
                    }
                }
            }
            tbody {
                tr {
                    border-bottom: 1px solid $border-color;
                    &:last-child {
                        border-bottom: 0;
                    }
                    td {
                        font: {
                            weight: 400;
                            size: 18px;
                        }
                        line-height: 24px;
                        color: $general-color;
                        &:first-child {
                            min-width: 330px;
                        }
                        &:last-child {
                            min-width: 299px;
                        }
                    }
                    &:last-child td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    // Галерея
    .gallery {
        .item {
            padding: $indent-md + $indent-sm 0;
            &-thumbnail {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                margin: 0 0 $indent-sm;
                border: 1px solid $border-color;
                @include background();
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-color: rgba($general-color, 0.5);
                    background-size: 30px 30px;
                    background-image: $whiteIconZoom;
                    @include transition();
                }
                &:hover:after {
                    opacity: 1;
                }
            }
            &-sign {
                p {
                    display: block;
                    @include font-sign;
                    color: #999;
                }
            }
        }
    }
}

@media(max-width: 1023px) {
    .post {
        padding: 40px 0;
        .shariff {
            position: static !important;
            display: flex !important;
            flex-direction: row;
            width: 100%;
            height: 50px;
            border-top: 0;
            margin-bottom: 25px !important;
            margin-top: 0 !important;
            .ShariffHeadline {
                flex: 0 0 20%;
            }
            &-total_count {
                height: 100%;
                min-height: 50px;
                background-color: $other-text-color;
                .count {
                    font-size: 22px;
                    line-height: 17px;
                    color: #fff;
                }
                .text {
                    font-size: 14px;
                    line-height: 17px;
                    color: #fff;
                }
            }
            ul {
                flex: 1 0 auto;
                flex-direction: row;
                > li {
                    flex: 1 0 auto;
                    width: auto !important;
                    height: 100%;
                    border-top: 0;
                    > a {
                        height: 100%;
                        min-height: 50px;
                        background-color: rgba(0,0,0,0) !important;
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: background $time-xs ease;
                    }
                }
            }
        }
    }
}

@import 'media-xs';
@media(max-width: 767px) {

    .post {
        padding: 25px 0;
        &__info {
            padding-bottom: 15px;
            .title {
                @include font-h1;
                padding: $indent-lg 0;
            }
            .category, .author, .date {
                font-size: 20px;
                line-height: 20px;
            }
            .author {
                margin-right: 15px;
            }
        }

        &__similars {
            padding: 25px 0;
            &-title {
                font-size: 16px;
                line-height: 22px;
                padding-bottom: $indent-sm;
            }
            .similar {
                padding: 15px 0;
                .category {
                    font-size: 16px;
                    line-height: 22px;
                    padding-bottom: $indent-md;
                }
                .title {
                    font-size: 16px;
                }
            }
        }
    }

    /* Контентная часть текстовой страницы
    ---------------------------------------*/
    .content {
        // Текст
        &-text {
            h1 {
                @include font-h1;
                padding: 0 0 $indent-md;
            }
            h2 {
                @include font-h2;
                padding: $indent-lg 0 $indent-md;
                + p, + ol, + ul {
                    padding-top: $indent-sm;
                }
            }
            h3 {
                @include font-h3;
                padding: $indent-sm 0 0;
                + p, + ol, + ul {
                    padding-top: $indent-sm;
                }
            }
            p {
                @include font-p;
                padding: $indent-md + $indent-sm 0;
                &.wp-caption-text {
                    @include font-sign;
                    padding: 0 0 $indent-lg;
                    margin-top: -($indent-md + $indent-sm);
                }
            }
            a {
                color: $general-color;
            }
            ol, ul {
                padding: $indent-lg 0;
                margin-left: $indent-list * 2;
                > li {
                    @include font-p;
                    padding-bottom: $indent-sm;
                }
            }
            img {
                margin: $indent-lg auto;
            }
            p img {
                margin: $indent-sm 0;
            }
        }

        // Таблица
        .table {
            padding: $indent-lg 0;
        }
        &-text {
            table {
                margin: $indent-lg 0;
                th, td {
                    padding: 8px 15px;
                }
                thead {
                    tr {
                        th {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: 16px;
                            line-height: 22px;
                            &:first-child {
                                min-width: 330px;
                            }
                            &:last-child {
                                min-width: 299px;
                            }
                        }
                    }
                }
            }
        }

        // Галерея
        .gallery {
            .item {
                padding: $indent-md 0;
                &-thumbnail {
                    margin: 0 0 $indent-sm;
                }
                &-sign {
                    p {
                        @include font-sign;
                    }
                }
            }
        }
    }
}