.subscribe {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 269px;
    border-top: 4px solid $general-color;
    background-color: #fff;
    padding: 39px 56px;
    margin: 0 auto 27px;
    .title, .desc {
        font-size: 23px;
        line-height: 26px;
        color: $text-color;
        letter-spacing: -0.1px;
        text-align: center;
    }
    .title {
        font-weight: 500;
    }
    .desc {
        font-weight: 300;
    }

    &-close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 19px;
        height: 19px;
        > svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: #99a2a7;
        }
    }

    &__form {
        margin-top: 36px;
        form {
            position: relative;
            display: flex;
            flex-direction: row;
            height: 34px;
            input:not([type="submit"]) {
                flex: 1 0 auto;
                display: inline-block;
                width: calc(100% - 118px);
                height: 100%;
                font: {
                    weight: 300;
                    size: 16px;
                }
                color: #99a2a7;
                border: 2px solid $general-color;
                padding: 0 7px;
            }
            [type="submit"] {
                display: inline-block;
                flex: 0 0 auto;
                width: 118px;
                height: 100%;
                font: {
                    weight: 300;
                    size: 16px;
                }
                color: #fff;
                border: 2px solid $general-color;
                background-color: $general-color;
                cursor: pointer;
                transition: border-color $time-xs ease, background-color $time-xs ease, box-shadow $time-xs ease;
                &:hover {
                    border-color: $general-color-hover;
                    background-color: $general-color-hover;
                    // box-shadow: 4px 0px 11px -3px rgba($other-text-color, 0.5);
                }
            }
        }
        .wpcf7-not-valid-tip {
            display: none;
        }
        .wpcf7-response-output {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            width: 100%;
            background-color: #fff;
            margin: 0;
        }
        .ajax-loader {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            right: 0;
            margin: 0 auto !important;
        }
        .wpcf7-not-valid {
            border-color: #ff2026 !important;
        }
        .wpcf7-mail-sent-ok {
            border-color: $general-color;
        }
    }
}
